*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #4B0082;
    --secondary-color: #9932CC;
}

.header-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.start-quiz{
    width: 100%;
    align-items: center;
    margin: 50px;
    text-align: center;
}
.highscores{
    text-decoration: none;
    font-style: bolder;
    color: var(--primary-color);
}

.highscores:hover{
    color:var(--secondary-color);
}

h1{
    font-size: 40px;
}

p{
    font-size: 24px;
}

button{
    background-color: var(--primary-color);
    color: white;
    padding: 1.2%;
    border-radius: 10%;
    box-shadow: none;
    border: solid 4px var(--primary-color);

}

button:hover{
    background-color: var(--secondary-color);
    border: solid 4px var(--secondary-color);
}