*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #4B0082;
    --secondary-color: #9932CC;
}

.header-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.startQuiz{
    padding: 8%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionDiv{
    padding: 8%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionOptions{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.highscores{
    text-decoration: none;
    font-style: bolder;
    color: var(--primary-color);
}

.highscores:hover{
    color:var(--secondary-color);
}

h1{
    font-size: 40px;
}

p{
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
}

.start-button{
    background-color: var(--primary-color);
    color: white;
    padding: 5%;
    width: 150px;
    border-radius: 12px;
    box-shadow: none;
    border: solid 4px var(--primary-color);
    font-size: 20px;
    margin-top: 20px;
    
}

button:hover{
    background-color: var(--secondary-color);
    border: solid 4px var(--secondary-color);
}



.hide{
    display: none;
}

.quiz-button{
    background-color: var(--primary-color);
    border: solid 4px var(--primary-color);
    border-radius: 12px;
    color: white;
    font-size: 25px;
    width: 400px;
    margin: 10px;
    padding-top: 3%;
    padding-bottom: 3%
}